        .row_RP
		{
			margin: 7px;
			width: 100%;
			display: flex;
		}
		
		.columnimg_RP
		{
			margin-left: 1%;
			float: left;
			width: 6%;
		}
		
		.columntext_RP
		{
			
			float: left;
			width: 18%;
			
			
		}
		
		.float_imgRP
		{
        	width: 80px;
        	height: 80px;
		}
		.page-width 
		{
			min-width: 1400px;
		}