        .row_RP
		{
			margin: 5px;
			width: 95%;
			display: inline-flex;


		}
		
		.columnimg_RP
		{
			margin-left: 1%;
		 	
		 	width: 6%;
		}
		
		.columntext_RP
		{
			
			
			width: 18%;
			
			
		}
		
		.float_imgRP
		{
        	
        	width: 80px;
        	height: 80px;


		}
		.page-width 
		{
			min-width: 1400px;


		}
		
		.paragraph 
		{
   		 z-index: 10000;
    	font-size: 50px;
   	 	position: absolute;
    	width:25%;
    	color:white;
    	padding-top: 250px;
    	padding-left: 1000px;
		}

		.slider
		{
		    overflow: hidden;
		    height: 500px;
		    margin-right: 2%;
		    margin-left: 2%;
		    margin-bottom: 1%;
		}

		.slider figure div
		{
		    width: 20%;
			float: left;
		}
		.slider figure img
		{
		    width:100%;
		    float: left;
		}
		.slider figure
		{
		    position: relative;
		    width: 500%;
		    margin:0;
		    left: 0;
		    animation: 20s slide infinite;
		}
		@keyframes slide 
		{
		    0%
		    {
		        left:0%;
		    }
		    20%
		    {
		        left: 0%;
		    }
		    30%
		    {
		        left:-100%;
		    }
		    40%
		    {
		        left: -100%;
		    }
		    50%
		    {
		        left: -200%;
		    }
		    60%
		    {
		        left: -200%;
		    }
		    70%
		    {
		        left: -300%;
		    }
		    80%
		    {
		        left: -300%;
		    }
		     90%
		     {
		        left: -400%;
		    }
		     100%
		     {
		        left: -400%;
		    }
		  

		}