body{
			margin: 0px;
		}
		footer{
			margin-bottom: 0px;
			padding: 0px;	
			background: #1c1c1c;
			min-width: 100%;
		
		}
		#footerd{
			display: flex;
		}

		#gotop{
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding:10px 0px ;

			}
		.footer-div{
			width: 24%;
			margin-left: 1%;
		}	
		.f-text{
			color: #666666;
		}
		.footer-hr{
			width: 98%;
			border: 0;
			height: 1px;
			background: #333;
		}
		.f-title{
			color: white;

		}
		.contactus{
			margin-top: 10px;
			border: 0;
			background-color: #232323;
			border-radius: 3px;
			font-size: 15px;
			width: 70%;
			padding: 5px;
			color: #666666;
			}
		#f-submit{
			border: 0;
			background: #2aa2d4;
			font-size: 15px;
			border-radius: 5px;
			color:white;
			padding: 8px;
		}
		#f-cr{
			margin-bottom: 0px;
			color: #444444;
			padding-left: 15px;
			padding-bottom: 15px;
		}
		.f-left{
			float: left;
			padding-right: 5px;
		}