#e-kalterta {


	background-color: blue;
display: flex;
}
#social {
	flex: 1;
	text-align:left;

	
}
#login {
	flex: 1;
	padding-right: 0.5%;
	padding-top: 1.5%;
	text-align: right;
color:white;
text-decoration:none;
}
#sociallist {

	list-style-type: none;
	padding-left: 1%;
	padding-top: 0;
	padding-bottom: 0;
}
li{
	display:inline;
}
