body{
    margin: 0;
  }

  .titujt{
    cursor:pointer;
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }



  #text1,#text2,#text3,#text4,#text5,#text6,#text7,#text8,#text9,#text10{
    display: none;
      }
       
.paragrafi10{
			width:1000px;
			margin-left: 200px;
			}


#titulli{
			font-size: 20px;
      font-family: "Comic Sans MS", cursive, sans-serif;
		}





.paragrafi20{
      font-family: Arial, Helvetica, sans-serif;
			font-size: 1em;
      margin-right :2%;
      margin-left: 2%;
      margin-top: 2%;
      width: 70%;
    
		}



    .paragrafi20 img{ 
       border: 5px solid #dddddd;
     }



    .divs{
      border-bottom: 1px solid #dddddd;
    }



    #div1{
      width: 22%;
      padding:2%;
      border-left: 5px solid #dddddd;
    }


    .info{
      max-width: 92%; 
      padding: 4%;
      margin-top: 0;
    }



    .divElement{
      border-right:  5px solid #dddddd;
      border-left: 5px solid #dddddd;
      background-color: #eeeeee;
      position: center;
      width: 70%;
      display: flex;
      margin-right: 15%;
      margin-left: 15%;
      }

 
    ol {
     padding:2%;
     font-size:1.1em;
     type:none;
 font-family:"Comic Sans MS", cursive, sans-serif;
}



